@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
.App {
  font-family: "Kalam", cursive;
  text-align: center;
}

body {
  background-color: #ccecfe;
  margin: "0px";
}

.App .btn-genre {
  cursor: "pointer";
  padding: "0.5rem";
  border-radius: "0.5rem";
  background-color: "#9BD1FE";
}
